<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.gms.samples.vision.face.facetracker"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="23" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="Are you sleeping?"
        android:theme="@style/Theme.AppCompat">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" />

        <activity
            android:name=".FaceTrackerActivity"
            android:icon="@drawable/icon"
            android:label="Are you sleeping?"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".FaceTrackerActivity$ButtonListener"
            android:exported="false">
            <intent-filter>
                <action android:name="Download_Cancelled" />
            </intent-filter>
        </receiver>

        <service android:name=".AlarmService" />
        <service
            android:name=".CameraService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".PatternActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.Dialog">
            <intent-filter>
                <action android:name="com.google.android.gms.samples.vision.face.facetracker.pattern" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TabActivity"></activity>
    </application>

</manifest>